@model WebOnlineAptitudeTest.Areas.Admin.Data.Model.ToTalRecordTables
@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Breadcrumb{
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Home</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="/admin" class="text-muted">Home</a></li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
}
<!-- *************************************************************** -->
<!-- Start First Cards -->
<!-- *************************************************************** -->
<div class="card-group">
    <div class="card border-right">
        <a href="@Url.Action("Index","Account")">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <div class="d-inline-flex align-items-center">
                            <h2 class="text-dark mb-1 font-weight-medium">@Model.TotalAdmin</h2>
                        </div>
                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Account Manager Admin</h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="user-plus"></i></span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="card border-right">
        <a href="@Url.Action("Index","Candidate")">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium">
                            <sup class="set-doller"></sup>@Model.TotalCandidate
                        </h2>
                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">
                            Candidate
                        </h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i class="fas fa-rocket"></i></span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="card border-right">
        <a href="@Url.Action("Index","Question")">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <div class="d-inline-flex align-items-center">
                            <h2 class="text-dark mb-1 font-weight-medium">@Model.TotalQuestion</h2>
                        </div>
                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Question</h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i class="fas fa-box-open"></i></span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Index","TestSchedule")">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <h2 class="text-dark mb-1 font-weight-medium">@Model.TotalTestSchedule</h2>
                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">TestSchedule</h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="globe"></i></span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>


<div class="row">
    <div class="col-lg-8 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Net Income</h4>
                <canvas id="polar-chartCandi" class="chartjs-render-monitor"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Net Income</h4>
                <div class="net-income mt-4 position-relative" style="height:294px;"></div>
                <ul class="list-inline text-center mt-5 mb-2">
                    @*OK 123*@
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Homes/LoadStatusCandi',
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    let labelChart = [];
                    let backgroundColorChart = [];
                    let dataChart = [];

                    $.each(response.data, function (i, item) {
                        if (item.Status == 0) {
                            labelChart.push('Undone');
                            backgroundColorChart.push('rgb(54, 162, 235)');
                        } else if (item.Status == 1) {
                            labelChart.push('Scheduled');
                            backgroundColorChart.push('rgb(255, 205, 86)');
                        } else if (item.Status == 2) {
                            labelChart.push('InProgress');
                            backgroundColorChart.push('rgb(201, 203, 207)');
                        } else if (item.Status == 3) {
                            labelChart.push('Done');
                            backgroundColorChart.push('rgb(75, 192, 192)');
                        } else if (item.Status == 4) {
                            labelChart.push('Quit');
                            backgroundColorChart.push('rgb(255, 99, 132)');
                        }

                        dataChart.push(item.CountTotal);
                    });

                    $(function () {
                        new Chart(document.getElementById("polar-chartCandi"), {
                            type: 'polarArea',
                            data: {
                                labels: labelChart,
                                datasets: [
                                    {
                                        label: "Online Aptitude Test",
                                        backgroundColor: backgroundColorChart, 
                                        data: dataChart
                                    }
                                ]
                            },
                            options: {
                                title: {
                                    display: true,
                                    text: 'Online Aptitude Test For Status Candidate'
                                }
                            }
                        });
                    });

                }
            });
        });
        
    </script>
}