
<h1>&emsp;</h1>
<h1>&emsp;</h1>

<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="/admin/Homes"
                       aria-expanded="false">
                        <i data-feather="home" class="feather-icon"></i><span class="hide-menu">Dashboard</span>
                    </a>
                </li>



                @foreach (var menusection in ViewBag.section)
                {
                    <li class="list-divider"></li>
                    <li class="nav-small-cap"><span class="hide-menu">@menusection.Attribute("title").Value</span></li>

                    foreach (var menu in menusection.Descendants("menu"))
                    {

                        string actionMenu = menu.Attribute("action") != null ? menu.Attribute("action").Value : "";
                        string controllerMenu = menu.Attribute("controller") != null ? menu.Attribute("controller").Value : "";

                        string iconMenu = menu.Attribute("icon") != null ? menu.Attribute("icon").Value : "";


                        if (actionMenu != "" && controllerMenu != "")
                        {
                            <li class="sidebar-item">
                                <a href="@Url.Action(actionMenu,controllerMenu)" class="sidebar-link">
                                    <i data-feather="@iconMenu" class="feather-icon"></i><span class="hide-menu">
                                        @menu.Attribute("title").Value
                                    </span>
                                </a>
                            </li>
                        }
                        else
                        {
                            string iconMenu2 = menu.Attribute("icon") != null ? menu.Attribute("icon").Value : "";

                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                   aria-expanded="false">
                                    <i data-feather="@iconMenu2" class="feather-icon"></i><span class="hide-menu">@menu.Attribute("title").Value </span>
                                </a>
                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    @foreach (var add in menu.Descendants("add"))
                                    {

                                        string acction = add.Attribute("action") != null ? add.Attribute("action").Value : "";
                                        string controller = add.Attribute("controller") != null ? add.Attribute("controller").Value : "";

                                        <li class="sidebar-item">
                                            <a href="@Url.Action(acction,controller)" class="sidebar-link">
                                                <span class="hide-menu">
                                                    @add.Attribute("title").Value
                                                </span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    }
                }


                <li class="list-divider"></li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="/Admin/logout" onclick="return confirm('Are you sure you want to logout?');"
                       aria-expanded="false">
                        <i data-feather="log-out" class="feather-icon"></i><span class="hide-menu">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
