<!DOCTYPE html>
<html lang="en">
<!-- BEGIN: Head -->
<head>
    <meta charset="utf-8">
    <link href="/Content/assets/backend/dist/images/logo.svg" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CANDIDATE - @ViewBag.Title</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="/Content/assets/backend/dist/css/app.css" />
    @RenderSection("Styles", false)
</head>
<!-- END: Head -->
<body class="app">
    <!-- BEGIN: Mobile Menu -->
    @Html.Action("MenuMobile", "Menu")
    <!-- END: Mobile Menu -->
    <div class="flex">
        <!-- BEGIN: Side Menu -->

        @Html.Action("Menu", "Menu")

        <!-- END: Side Menu -->
        <!-- BEGIN: Content -->
        <div class="content">
            <!-- BEGIN: Top Bar -->
            <div class="top-bar grid grid-cols-12 gap-6">

                <!-- BEGIN: Breadcrumb -->


                <div class="h-12 align-middle bg-gray-400 rounded col-span-4">
                   
                </div>

                <div class="h-12 align-middle bg-gray-400 rounded col-span-4">
           
                </div>

                <div class="h-12 align-middle bg-yellow-600 rounded col-span-4 relative">
                    <div class="w-3/4 h-full bg-theme-1 rounded flex justify-center align-middle"></div>
                    <p class="rounded h-auto text-lg text-white absolute" style="top:50%; left: 50%; transform: translate(-50%,-50%)" >90%</p>
                </div>
                <!-- END: Breadcrumb -->
                <!-- BEGIN: Account Menu -->
                <!-- END: Account Menu -->
            </div>
            <!-- END: Top Bar -->

            @RenderBody()

        </div>
        <!-- END: Content -->
    </div>
    <!-- BEGIN: JS Assets-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=[" your-google-map-api"]&libraries=places"></script>*@



    @RenderSection("Scripts", false)
    <script src="/Scripts/jquery.twbsPagination.min.js"></script>

    <script>
        $('#pagination-demo').twbsPagination({
            totalPages: 50,
            visiblePages: 5
        });

    </script>
    <script>
        $().ready(function () {
            $("#demoForm").validate({
                rules: {
                    "user": {
                        required: true,
                        maxlength: 15
                    },
                    "password": {
                        required: true,
                        minlength: 8
                    },
                    "re-password": {
                        equalTo: "#password",
                        minlength: 8
                    }
                }
            });
        });
    </script>
    <script src="/Content/assets/backend/dist/js/app.js"></script>

</body>
</html>