@model List<WebOnlineAptitudeTest.Models.Entities.Candidate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section Breadcrumb{
    <div class="-intro-x breadcrumb mr-auto hidden sm:flex">
        <a href="/admin" class="">Home</a>
        <i data-feather="chevron-right" class="breadcrumb__icon"></i>
        <a class="breadcrumb--active">Candidate</a>
    </div>
}

<h2 class="intro-y text-lg font-medium mt-10">
    List Candidate
</h2>
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-no-wrap items-center mt-2">
        <a href="@Url.Action("InsertOrUpdate", "Candidate", new { id = 0})" class="button text-white bg-theme-1 shadow-md mr-2">Add New Product</a>
        <div class="dropdown relative">

        </div>
        <div class="hidden md:block mx-auto text-gray-600"></div>
        <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
            <div class="w-56 relative text-gray-700">
                <input type="text" class="input w-56 box pr-10 placeholder-theme-13" placeholder="Search...">
                <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-feather="search"></i>
            </div>
        </div>
    </div>
    <!-- BEGIN: Data List -->
    @if (Model.Count > 0)
    {
        <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">

            <table class="table table-report -mt-2">
                <thead>
                    <tr class="bg-gray-700 text-white">
                        <th class="whitespace-no-wrap">#</th>
                        <th class="whitespace-no-wrap">USERNAME</th>
                        <th class="whitespace-no-wrap">DISPLAY NAME</th>
                        <th class="whitespace-no-wrap">EMAIL</th>
                        <th class="whitespace-no-wrap">BIRTHDAY</th>
                        <th class="whitespace-no-wrap">ADDRESS</th>
                        <th class="whitespace-no-wrap">PHONE</th>
                        <th class="whitespace-no-wrap">SEX</th>
                        <th class="whitespace-no-wrap">CREATED DATE</th>
                        <th class="whitespace-no-wrap">LAST UPDATED DATE</th>
                        <th class="text-center whitespace-no-wrap">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="intro-x">
                            <td>@(Model.IndexOf(item)+1)</td>
                            <td>@item.UserName</td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@(item.Birthday==null?"":item.Birthday.Value.ToString("dd-MM-yyyy"))</td>
                            <td>@item.Address</td>
                            <td>@item.Phone</td>
                            <td>@(item.Sex==true? "Male": "Female")</td>
                            <td>@(item.CreatedDate==null?"":item.CreatedDate.ToString("dd-MM-yyyy"))</td>
                            <td>@(item.UpdatedDate==null?"":item.UpdatedDate.Value.ToString("dd-MM-yyyy"))</td>
                            <td class="table-report__action w-56">
                                <div class="flex justify-center items-center">
                                    <a class="flex items-center mr-3" href="@Url.Action("InsertOrUpdate", "Candidate", new { id = item.Id})"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                                    <a class="flex items-center text-theme-6" href="@Url.Action("Delete", "Candidate", new { id = item.Id})" onclick="return confirm('Are you sure you want to delete ?');"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- END: Data List -->
        <!-- BEGIN: Pagination -->
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-no-wrap items-center">
            <ul class="pagination">
                <li>
                    <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevrons-left"></i> </a>
                </li>
                <li>
                    <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevron-left"></i> </a>
                </li>
                <li> <a class="pagination__link" href="">...</a> </li>
                <li> <a class="pagination__link" href="">1</a> </li>
                <li> <a class="pagination__link pagination__link--active" href="">2</a> </li>
                <li> <a class="pagination__link" href="">3</a> </li>
                <li> <a class="pagination__link" href="">...</a> </li>
                <li>
                    <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevron-right"></i> </a>
                </li>
                <li>
                    <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevrons-right"></i> </a>
                </li>
            </ul>
            <select class="w-20 input box mt-3 sm:mt-0">
                <option>10</option>
                <option>25</option>
                <option>35</option>
                <option>50</option>
            </select>
        </div>
        <!-- END: Pagination -->
    }
</div>
@section Scripts{
    <script>
        
    </script>
}