@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section Breadcrumb{
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Candidate</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="/admin" class="text-muted">Home</a></li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">Candidate</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="header-card">
                    <div class="button">
                        <a href="@Url.Action("InsertOrUpdate","Candidate")" class="btn waves-effect waves-light btn-Custom btn-primary"> Add New</a>
                    </div>
                </div>

                <div class="mt-4" style="display: flex; justify-content: space-between;">
                    <div style="display: flex; align-items: center;">
                        <span>Show</span>
                        <select name="candidate" class="form-control form-control-sm pageSizeItem" style="margin: 0 0.3rem;cursor:pointer">
                            @foreach (var item in ViewBag.ListpageSize)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <span>entries </span>
                    </div>

                    <div style="display: flex; align-items: center;">
                        Search: <input type="search" class="form-control form-control-sm txtSearchCandidate" placeholder="" style="margin:0 0 0 0.3rem">
                    </div>
                </div>
                <div class="table-responsive mt-4">
                    <table class="table table-hover" id="tableCandidate">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Image</th>
                                <th scope="col">Username</th>
                                <th scope="col">Display Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Status</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tblDataCandidate">
                        </tbody>
                    </table>
                </div>
                <p class="text-center textEmpty">List empty</p>
                <ul id="pagination" class="pagination flex-wrap .pagination-rounded-flat pagination-success mt-3"></ul>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ModalDelete")
@Html.Partial("_ModalDetailCandidate")


@section Scripts{
    <script src="/Scripts/jquery.twbsPagination.min.js"></script>
    <script src="/Scripts/plugins/CandidateJsController.js"></script>
}
