<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/assets/backend/plugins/assets/images/favicon.png">
    <title>Admin - @ViewBag.Title</title>
    <!-- Custom CSS -->
    <link href="/Content/assets/backend/plugins/assets/extra-libs/c3/c3.min.css" rel="stylesheet">
    <link href="/Content/assets/backend/plugins/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="/Content/assets/backend/plugins/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="/Content/assets/backend/plugins/dist/css/style.min.css" rel="stylesheet">
    <link href="/Content/toastr.min.css" rel="stylesheet" />
    <link href="/Content/SiteBackend.css" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        @Html.Partial("_HeaderNavTop")
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        @Html.Action("Index", "Menus")
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            @RenderSection("Breadcrumb", false)
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    @Html.Partial("_ModalChangePassword")


    @Scripts.Render("~/bundles/jquery")
    <script src="/Content/assets/backend/plugins/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/Content/assets/backend/plugins/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/Content/assets/backend/plugins/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="/Content/assets/backend/plugins/dist/js/app-style-switcher.js"></script>
    <script src="/Content/assets/backend/plugins/dist/js/feather.min.js"></script>
    <script src="/Content/assets/backend/plugins/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/Content/assets/backend/plugins/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/Content/assets/backend/plugins/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <script src="/Content/assets/backend/plugins/assets/extra-libs/c3/d3.min.js"></script>
    <script src="/Content/assets/backend/plugins/assets/extra-libs/c3/c3.min.js"></script>
    <script src="/Content/assets/backend/plugins/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="/Content/assets/backend/plugins/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="/Content/assets/backend/plugins/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/Content/assets/backend/plugins/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/Content/assets/backend/plugins/dist/js/pages/dashboards/dashboard1.min.js"></script>
    <script src="/Scripts/toastr.min.js"></script>
    <script src="/Content/assets/backend/dist/js/config-toastrJs.js"></script>
    <script src="/CKFinderScripts/ckfinder.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Scripts/plugins/changePassAdmin.js"></script>
    @RenderSection("Scripts", false)
    @Html.Partial("_XMessage")
</body>

</html>